#bin folder, obj folder, publish folder#
############################

.vs/

mimicore3.1/bin
mimicore3.1/obj
mimicore3.1/publish
mimicore3.1/Frontend/node_modules
mimicore3.1/wwwroot
mimicore3.1/Views/Home
mimicore3.1/Views/Login
mimicore3.1/Properties/PublishProfiles

#other files#
#############
mimicore3.1.csproj.user

Screenshot.txt